<%if(typeof file1 !== 'undefined'){%><a href="<%= product_domain_storage %><%= file1 %>" target="_blank"><%= product_domain_storage %><%= file1 %></a><%}%>
<%if(typeof file2 !== 'undefined'){%><a href="<%= product_domain_storage %><%= file2 %>" target="_blank"><%= product_domain_storage %><%= file2 %></a><%}%>
<%if(typeof file3 !== 'undefined'){%><a href="<%= product_domain_storage %><%= file3 %>" target="_blank"><%= product_domain_storage %><%= file3 %></a><%}%>